:root {
    /* theme 1 */
    /* theme 2 */
    /* theme 3 */
}

.theme-1 {
    --body-bg: hsl(222, 26%, 31%);
    --numpad-bg: hsl(223, 31%, 20%);
    --toggle-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --text: white;
    --numpad-text: hsl(221, 14%, 31%);
    --equals-text: white;

    --numpad: hsl(30, 25%, 89%);
    --numpad-shadow: hsl(28, 16%, 65%);
    --numpad-hover: hsl(28 16% 78%);

    --numpad-equals: hsl(6, 63%, 50%);
    --numpad-equals-shadow: hsl(6, 70%, 34%);
    --numpad-equals-hover: hsl(6, 81%, 42%);

    --numpad-delres: hsl(225, 21%, 49%);
    --numpad-delres-shadow: hsl(224, 28%, 35%);
    --numpad-delres-hover: hsl(224 28% 42%);
}

.theme-2 {
    --body-bg: hsl(0, 0%, 90%);
    --numpad-bg: hsl(0, 5%, 81%);
    --toggle-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --text: hsl(60, 10%, 19%);
    --numpad-text: --text;
    --equals-text: white;

    --numpad: hsl(45, 7%, 89%);
    --numpad-shadow: hsl(35, 11%, 61%);
    --numpad-hover: hsl();

    --numpad-equals: hsl(25, 98%, 40%);
    --numpad-equals-shadow: hsl(25, 99%, 27%);
    --numpad-equals-hover: hsl();

    --numpad-delres: hsl(185, 42%, 37%);
    --numpad-delres-shadow: hsl(185, 58%, 25%);
    --numpad-delres-hover: hsl();
}

.theme-3 {
    --body-bg: hsl(268, 75%, 9%);
    --numpad-bg: hsl(268, 71%, 12%);
    --toggle-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --text: hsl(52, 100%, 62%);
    --numpad-text: --text;
    --equals-text: hsl(198, 20%, 13%);

    --numpad: hsl(268, 47%, 21%);
    --numpad-shadow: hsl(290, 70%, 36%);
    --numpad-hover: hsl(277, 70%, 49%);

    --numpad-equals: hsl(176, 100%, 44%);
    --numpad-equals-shadow: hsl(177, 92%, 70%);
    --numpad-equals-hover: hsl(176, 100%, 57%);

    --numpad-delres: hsl(281, 89%, 26%);
    --numpad-delres-shadow: hsl(285, 91%, 52%);
    --numpad-delres-hover: hsl(285, 91%, 38%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* html { */
/* font-family: 'League Spartan', sans-serif; doesnt work idk */
/* } */

body {
    background-color: var(--body-bg) !important;
    color: var(--text);
    font-family: 'League Spartan', sans-serif;
}

body #title {
    padding: 40px;
}

body #screen {
    background-color: var(--screen-bg);
    border-radius: 10px;
    /* theme 3 */
    padding: 40px;
}

body #grid {
    background-color: var(--numpad-bg);
    border-radius: 10px;
    /* theme 3 */
    padding: 40px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* added all these lines to try and center the numbers in the bg box */
}

body .numpad {
    background-color: var(--numpad);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 0px var(--numpad-shadow);
}

body .numpad:hover {
    background-color: var(--numpad-hover);
}

body .numpad:not(.delres, .equals) {
    color: var(--numpad-text);
}

body .equals {
    color: var(--equals-text);
    background-color: var(--numpad-equals);
    box-shadow: 0px 5px 0px var(--numpad-equals-shadow);
}

body .equals:hover {
    background-color: var(--numpad-equals-hover);
}

body .delres {
    color: white;
    background-color: var(--numpad-delres);
    box-shadow: 0px 5px 0px var(--numpad-delres-shadow);
}

body .delres:hover {
    background-color: var(--numpad-delres-hover);
}

/* Practicing specificity, and will use this for JS */
/*             
span .nump
span .numpad .number
span .numpad .operator
span .numpad .delres
span .numpad .equals
span .numpad .delres #del
span .numpad .delres #res 
*/
