:root {
    /* theme 1 */
    --theme1-body-bg: hsl();
    --theme1-numpad-and-screen-bg: hsl();

    --theme1-numpad: hsl();
    --theme1-numpad-shadow: hsl();
    --theme1-numpad-hover: hsl();

    --theme1-numpad-black: hsl();
    --theme1-numpad-black-shadow: hsl();
    --theme1-numpad-black-hover: hsl();

    --theme1-numpad-white: hsl();
    --theme1-numpad-white-shadow: hsl();
    --theme1-numpad-white-hover: hsl();
    /* theme 2 */
    --theme2-body-bg: hsl();
    --theme2-numpad-and-screen-bg: hsl();

    --theme2-numpad: hsl(268, 47%, 21%);
    --theme2-numpad-shadow: hsl();
    --theme2-numpad-hover: hsl();

    --theme2-numpad-black: hsl(%);
    --theme2-numpad-black-shadow: hsl();
    --theme2-numpad-black-hover: hsl();

    --theme2-numpad-white: hsl();
    --theme2-numpad-white-shadow: hsl();
    --theme2-numpad-white-hover: hsl();
    /* theme 3 */
    --theme3-body-bg: hsl(268, 75%, 9%);
    --theme3-numpad-and-screen-bg: hsl(268, 71%, 12%);

    --theme3-numpad: hsl(268, 47%, 21%);
    --theme3-numpad-shadow: hsl(290, 70%, 36%);
    --theme3-numpad-hover: hsl(277, 70%, 49%);

    --theme3-numpad-black: hsl(176, 100%, 44%);
    --theme3-numpad-black-shadow: hsl(177, 92%, 70%);
    --theme3-numpad-black-hover: hsl(176, 100%, 57%);

    --theme3-numpad-white: hsl(281, 89%, 26%);
    --theme3-numpad-white-shadow: hsl(285, 91%, 52%);
    --theme3-numpad-white-hover: hsl(285, 91%, 38%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* html { */
/* font-family: 'League Spartan', sans-serif; doesnt work idk */
/* } */

body {
    background-color: hsl(268, 75%, 9%) !important;
    color: hsl(52, 100%, 62%);
    font-family: 'League Spartan', sans-serif;
}

body #title {
    padding: 40px;
}

body #screen {
    background-color: hsl(268, 71%, 12%);
    border-radius: 10px;
    /* theme 3 */
    padding: 40px;
}

body #grid {
    background-color: hsl(268, 71%, 12%);
    border-radius: 10px;
    /* theme 3 */
    padding: 40px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* added all these lines to try and center the numbers in the bg box */
}

body .numpad {
    background-color: hsl(268, 47%, 21%);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 0px hsl(290, 70%, 36%);
}

body .numpad:hover {
    background-color: hsl(268, 90%, 49%);
}

body .black-text {
    color: black;
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 5px 0px hsl(177, 92%, 70%);
}

body .black-text:hover {
    background-color: hsl(176, 100%, 57%);
}

body .white-text {
    color: white;
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0px 5px 0px hsl(285, 91%, 52%);
}

body .white-text:hover {
    background-color: hsl(285, 91%, 38%);
}